{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>E-Budgeting Watch | Landing Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'landingpage/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter" style="background-image: {% static 'landingpage/images/bg-01.jpg' %};">
		<div class="container-topright">
			<div class="topright">
				<div class="container-login100-form-btn m-t-32" style="margin-right:10px;margin-left: 10px">
					<a href="/ebudget/login_pegawai" class="login100-form-btn" style="min-width: 42px;">
						<h6>Login Pegawai</h6>
					</a>
				</div>
			</div>
		</div>
		<div class="container-login100" >
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					E-Budgeting Watch
				</span>
				<span class="login100-form-title p-b-41">
					<img src="{% static 'landingpage/images/logos/jakarta_logo.png' %}" style="width:100px;height:100px;";>
				</span>
				<span>
					<div class="container">
						<div class="row">
							<div>
								<div class="container-login100-form-btn m-t-32" style="margin-right:10px;margin-left: 10px">
									<a href="#" class="login100-form-btn" style="min-width: 42px;">
										2016
									</a>
								</div>
							</div>
							<div>
								<div class="container-login100-form-btn m-t-32" style="margin-right:10px">
									<a href="#" class="login100-form-btn" style="min-width: 42px;">
										2017
									</a>
								</div>
							</div>
							<div>
								<div class="container-login100-form-btn m-t-32" style="margin-right:10px">
									<a href="#" class="login100-form-btn" style="min-width: 42px;">
										2018
									</a>
								</div>
							</div>
							<div>
								<div class="container-login100-form-btn m-t-32">
									<a href="#" class="login100-form-btn" style="min-width: 42px;">
										2019
									</a>
								</div>
							</div>
	
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'landingpage/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'landingpage/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landingpage/js/main.js' %}"></script>

</body>
</html>